a {
  text-decoration: none;
  color: black;
}

header {
  border: 0.5px solid #707070;
}

nav{
  color:black;
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  padding: 1em;
 
}

#img-logo{
  margin-left: -0.5em;
}

#register-btn{
  color: yellow;
}

#login-logo{
  margin-left: 20%;
}

#login-form{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 7%;

}

#log-heading{
  text-align:center;
}

input[type=text], input[type=password] {
  margin: 1em;
}

label[for=username],[for=password] {
  font-size: 1em;
  margin: 0.70em;
}

#login-btn, #reg-btn {
  margin-right: 2em;
}


