a {
  text-decoration: none;
  color: black;
}

header {
  border: 0.5px solid #707070;
}

nav{
  color:black;
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  padding: 1em;
 
}

nav a:hover{
  color: #9824A8;
}

#img-logo{
  margin-left: -0.5em;
}

/* ===========Login/Register Page=========== */

#register-btn{
  color: yellow;
}

#login-logo{
  margin-left: 30%;
 
}

#login-form{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 35%;
  margin: 0 auto;
  padding: 2%;
  margin-bottom:7%;

}

#reg-form{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 35%;
  margin: 0 auto;
  padding: 2%;
  margin-bottom:7%;
}


#log-heading,#reg-heading{
  text-align:center;
}

#reg-heading{
  margin:0;
  color:white;
  padding: 1%;
}

input[type=text], input[type=password] {
  margin: 2em;
  padding:2% 10%;
}

input[type=text]:hover, input[type=password]:hover{
  border: 1px solid #9824A8;
}

label[for=username],[for=password], [for=email]  {
  font-size: 0.8em;
  margin: 1.5em;
}

#register-btn{
  color:black;
  border: 1px solid #9824A8;
}

#login-btn,#reg-btn {
  margin-left: 2.5em;
  border: 1px solid #9824A8;
}

#register-btn:hover{
  background-color:#9824A8;
  color:white;
}

#login-btn:hover {
  background-color:#9824A8;
  color:white;
}


#reg-btn:hover{
  background-color:#9824A8;
  color:white;
}

.login-pg{
  background-image: url('./images/wall.jpg');
  background-size: cover;
  background-position: center;
  height: 150vh;

}

.reg-pg{
  background-image: url('./images/reg-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 150vh;
}

/* ===============Home===================== */
#wel-user{
  font-size: 0.7em;
  width: 30%;
  color: grey;
}

#logout-btn{
  display: inline-block;
  border: 0.5px solid #9824A8;
  margin-left: 2%;
  cursor: pointer;
  color: grey;
  font-size: 0.5em;

}

#logout-btn:hover{
  background-color:#9824A8;
  color:white;
}

#late-post{
  text-align: center;
  margin-top: 0;
  display: inline-block;
  margin-left: 30%;

}

.form-cont{
  display:flex;
  justify-content: flex-end;
}


#create-post {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 30%;
  padding: 2%;
  margin-bottom:7%;
}

.post-list {
  border: 2px solid black;
  width: 60%;
  height:100vh;
  margin-left: 8%;
}















/* ============Media Queries================ */

@media screen and (max-width: 600px) {
  input[type=text], input[type=password]{
    width: 50%;
    margin-top: 0;
  }
}