a {
  text-decoration: none;
  color: black;
}

header {
  border: 0.5px solid #707070;
}

nav{
  color:black;
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
 
}

nav a:hover{
  color: #9824A8;
}


#img-logo{
  margin-left: -0.5em;
}

/* ===========Login/Register Page=========== */

#register-btn{
  color: yellow;
}

#login-logo{
  margin-left: 30%;
 
}

#login-form{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 35%;
  margin: 0 auto;
  padding: 2%;
  margin-bottom:7%;

}

#reg-form{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 35%;
  margin: 0 auto;
  padding: 2%;
  margin-bottom:7%;
}


#log-heading,#reg-heading{  
  text-align:center;
}

#reg-heading{
  margin:0;
  color:white;
  padding: 1%;
}

#username, input[type=password] {
  margin: 2em;
  padding:2% 10%;
}

input[type=text]:hover, input[type=password]:hover{
  border: 1px solid #9824A8;
}

label[for=username],[for=password], [for=email]  {
  font-size: 0.8em;
  margin: 1.5em;
}

#register-btn{
  color:black;
  border: 1px solid #9824A8;
}

#login-btn,#reg-btn {
  margin-left: 2.5em;
  border: 1px solid #9824A8;
}

#register-btn:hover{
  background-color:#9824A8;
  color:white;
}

#login-btn:hover {
  background-color:#9824A8;
  color:white;
}


#reg-btn:hover{
  background-color:#9824A8;
  color:white;
}

.login-pg{
  background-image: url('./images/wall.jpg');
  background-size: cover;
  background-position: center;
  height: 150vh;

}

.reg-pg{
  background-image: url('./images/reg-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 150vh;
}

/* ===============Home===================== */
#wel-user{
  font-size: 0.7em;
  display:inline;
  color: grey;
}

#logout-btn{
  border: 0.5px solid #9824A8;
  margin-left: 2%;
  cursor: pointer;
  color: black;
  font-size: 0.5em;
  display: inline-block;

}

#logout-btn:hover{
  background-color:#9824A8;
  color:white;
}

#late-post{
  margin-top: 0;
  display: block;
  margin: 5%;

}

.form-cont{
  display:inline;
  margin-left: 0;
  
}


#create-post {
  background-color: #000000cc;
  color: white;
  padding: 5%;
  margin-right: 2%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-radius: 5px;

}

.content-home{
display:flex;
flex-direction: row-reverse;
/* justify-content: center; */

}

.post-list{
  display:inline;
}

.post-container{
  display: inline-block;
  margin-left: 2%;
  width: 40%;
  margin-right: 10%;

}

.post-ind {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6%;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5%;
}

#post-flex{
  display: flex;
  flex-direction: row-reverse;

}

.text-flex{
  width: 50%;
  margin-left: 0;
}

p{
  font-size: 0.6em;
  text-align: left;
 
}

.text-cont{
  font-family: 'Tillana', cursive;
  font-weight: bold;
  display: inline;
}



.hashtag{
  font-family: 'Josefin Sans', sans-serif;
}

.post-cont{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1.4em;
}

.post-hashtag{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.post-img{
  padding: 2%;
}

.cate{
  margin-top:0;
}

.single-post {
  border: 0.5px solid black;
  width: 50%;
  margin-left: 5%;
  margin: 0 auto;
  margin-top: 4%;
  padding: 1%;
  cursor: pointer;
  text-align: center;
  background-color: rgba(159, 168, 235, 0.3);

}

#post-pic{
  margin: 0 auto;
}

label[for=content], [for=image_url],[for=hashtags],[for=category]{
  font-size: 0.85em;
}

#image_url, #hashtags, #category{
  padding: 0.2em;
  width: 100%;
}

#content{
  margin-left: 2%;
  width: 80%;
}

textarea {
  width: 30%;
}

#create-title{
  font-size: 1em;
  margin-top: 0;
  text-align:center;
  color: white;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
}

#submit-create{
  border-radius: 2px;
  
}

#submit-create:hover {
  background-color:#9824A8;
  color: white;
}










/* ============Media Queries================ */

@media screen and (max-width: 600px) {
  input[type=text], input[type=password]{
    width: 50%;
    margin-top: 0;
  }
}